<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <title>Flask test</title>
        
    </head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='test_6.css') }}"/>    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <body>
        <ul>
            <li><a href="../"class="active">首頁</a></li>
            {% if login %}
            <li><a href="../album">帳戶 </a></li>
            <li><a href="../upload">上傳</a></li>
            <li><a href="../logout">登出</a></li>
            {% else %}
            <li><a href="../register">註冊</a></li>
            <li><a href="../login">登入</a></li>
            {% endif %}
            <p></p>
        </ul>
        <form>
        <div style="padding-top: 42px;" id="content">
            <time id="clock" class="time">現在時間：+00:00:00</time>
            {% if login%}
            <p>Hello, {{ username}}</p>
            {% else %}
            <p>Welcome!</p>
            {% endif %}
        </div>
        </form>
        <script type="text/javascript">
            var t = null;
            function time(){

            var now=new Date();
            var sec=now.getSeconds();
            var min=now.getMinutes();
            var hour=now.getHours();

            document.getElementById("clock").innerHTML = "現在時間：+"+(hour>9?hour:"0"+hour)
                    +":"+(min>9?min:"0"+min)
                    +":"+(sec>9?sec:"0"+sec)  ;
            t = setTimeout(time,1000);    
            }
            window.onload=function(){time()}

        </script>
            
    </body>
</html>

